<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>【扣款授权书】</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<script src="vendor/jquery-2.1.3.min.js"></script>
		
		<script type="text/javascript" src="js/wx.js"></script>
		
		<style type="text/css" media="screen">
			body {
				background: #f0f0f0;
				font-size: 12px;
				line-height: 22px;
				padding: 20px;
			}
			
			h1 {
				margin: 0;
				padding: 0;
			}
			
			div {
				font-size: 12px;
			}
			
			table {
				border: 1px solid #ccc;
				border-collapse: collapse;
			}
			
			table td {
				border: 1px solid #ccc;
				padding: 5px 10px;
			}
			
			ul,
			li {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<header class="wx-bar wx-bar-nav">
			<a class="wx-action-back iconfont icon-zuojiantou wx-pull-left"></a>
			<h1 class="wx-title">【扣款授权书】</h1>
		</header>
		<h3 align="center">
			<strong>扣款授权书</strong>
		</h3>
		<p>
			致：<u>国民信托有限公司</u>（即扣款发起方，以下简称&ldquo;甲方&rdquo;）
			<br /> 被扣款方名称：<u><span th:text="${credit.custName}"/></u>
			<br />被扣款方有效证件类型：（身份证或其他有效身份证件）<u><span th:if="${credit.certType == '10100'}">身份证</span></u>
			<br />被扣款方有效证件号码：（身份证或其他有效身份证件号码）<u><span th:text="${credit.certNo}"/></u>
			<br /> 本人（自然人）作为授权人授权甲方通过中金支付有限公司（合法成立的第三方支付机构）或甲方合作的银行（包括但不限于上海银行股份有限公司等）、其他合法成立的第三方支付机构（包括但不限于银联网络支付公司、通联支付网络服务股份有限公司等）（以下简称&ldquo;第三方支付机构&rdquo;）及其合作银行（本授权书中为被扣款方开户银行）从本人以下账户中扣划本人与甲方签署的《贷款合同》（合同编号【  <span th:text="${protocolNum}"/> 】）项下本人应付款项（以下简称&ldquo;本人应付款项&rdquo;）。为执行上述约定以保障各方的权益，本人特此授权及承诺如下： <br /> 本人已指定本人名下的如下账户为付款账户（以下简称&ldquo;被扣款方账户&rdquo;）：
			<br /> 被扣款方户名（必须同本人名称相同）： <br /> <u><span th:text="${credit.custName}"/></u>
			<br /> 被扣款方账号： <br /> <u><span th:text="${credit.bankAcctNo}"/></u>
			<br /> 被扣款方开户银行： <br /> <span th:text="${credit.bankName}"/>银行<u>xxx</u>分行<u>xxx</u>支行 <br /> 被扣款方开户银行所在省份及城市： <br />
			<u>xxxx</u>省（自治区/直辖市）<u>xxxx</u>市<br /> 本人同意由甲方通过第三方支付机构及其合作银行（本授权书中为被扣款方开户银行）从以上指定账户中主动扣收本人应付款项，届时被扣款方开户银行无须获得本人的同意也无须事先通知本人，并无需本人向被扣款方开户银行进行扣款授权。 <br /> 本人承担因被扣款方账户余额不足或被查封冻结导致无法按时足额扣款而导致的任何法律责任。本人保证上述资金扣收符合国家法律法规，本人不会利用上述扣收操作开展任何违法犯罪活动。本人同意为完成资金代扣操作，甲方有权合理使用并向第三方支付机构及其合作银行（本授权书中为被扣款方开户银行）披露本授权书全部内容及其他为完成资金代扣操作而必要的本人信息。 <br /> 本授权书自签署之日起即持续有效，直至本人与甲方一致书面同意变更（对于本授权书的变更仅限于变更被扣款方账户信息，但变更后账户必须同本人名称相同）、终止本授权书，并由甲方将变更、终止本授权书的书面说明（以下简称&ldquo;说明&rdquo;）向第三方支付机构提供并由第三方支付机构实际收到说明之日，本授权书变更、终止。 <br /> 本人确保上述账户在委托扣款日账户状态正常（即非冻结、销户、挂失等）且账户内余额充足，甲方或其委托的第三方支付机构/银行可实现成功扣款。因还款日本人账户状态不正常或者账户内余额不足导致扣款不成功的，视为本人在《贷款合同》项下的违约，由此产生的逾期违约责任均由本人承担。 <br /> 本授权书项下的委托期限自《贷款合同》生效日起至本人在《贷款合同》项下约定的各项贷款本息及其他款项（如有）全部偿还完毕之日止。本人在此特别声明：本人对于甲方及其委托的第三方支付机构/银行在本授权书项下对本人款项的划扣，不提出任何异议。甲方将《贷款合同》下的债权转让给新的受让人的，本人不可撤销的同意授权新的债权受让人及其委托的第三方支付机构/银行委托扣划的权利。
		</p>
		<p>本授权书适用中华人民共和国法律。 <br /> 中金支付有限公司的客服电话：010-58903377、010-58903399，服务时间为工作日9:00-17:00。 <br /> 其他第三方支付机构的联系方式请咨询相关服务商。 </p>
		<p>被扣款方（自然人）签字：<u><span th:text="${credit.custName}"/></u><br />
			<span th:text="${signDate}"/>
		</p>
	</body>
</html>