<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, initial-scale=1" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta content="telephone=no" name="format-detection" />
		<title>更换营业执照号失败</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link href="vendor/mui/css/mui.listpicker.css" rel="stylesheet" />
		<link href="vendor/mui/css/mui.poppicker.css" rel="stylesheet" />
	</head>
	<body>
		<header class="wx-bar wx-bar-nav">
			<a class="wx-action-back iconfont icon-zuojiantou wx-pull-left"></a>
			<h1 class="wx-title">更换营业执照号失败</h1>
		</header>
		<div class="fixBottom bgf fh1 pb20">
			<form id="myForm" name='myForm' action="" method="post">
				<input type="hidden" name="merchantNo" id="merchantNo" th:value='${merchantNo}' />
			</form>
			<div class="wx-btn wx-btnf-sub" onclick="home()">首页</div>
			<div class="wx-btn wx-btnh" onclick="accountHome()">查看我的贷款</div>
		</div>
		<div class="wx-content">
			<div class="icon-box">
				<span class="iconfont icon-shibai"></span>
				<div class="f16 cl3 fn pt22"><span th:text="${message}"></span></div>
			</div>
		</div>
		<script type="text/javascript" src="vendor/jquery-2.1.3.min.js" ></script>
		<script type="text/javascript" src="js/wx.js"></script>
		<script type="text/javascript">
			function accountHome(){
		  		   $("#myForm").attr("action", "accountHome");
		  		   $("#myForm").submit();
			}
			function home(){
		  		   $("#myForm").attr("action", "home");
		  		   $("#myForm").submit();
			}
		</script>
	</body>
</html>