<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, initial-scale=1" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta content="telephone=no" name="format-detection" />
		<title>添加银行卡</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />		
		<script src="vendor/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="js/wx.js"></script>
		<script type="text/javascript" src="js/sendVerifyCode.js"></script>
	</head>
	<body>
		<header class="wx-bar wx-bar-nav">
			<a class="wx-action-back iconfont icon-zuojiantou wx-pull-left"></a>
			<h1 class="wx-title">添加银行卡</h1>
		</header>
		<div class="fixBottom bgf fh1 pb20">
			<div class="wx-btn wx-btnh"  id="div1" onclick="submitForm();">提交</div>
			<div class="wx-btn wx-btnh wx-disabled" id="div2" onclick="submitAgain()" style="display: none;">提交</div>
		</div>
		<input id="verifycodeid" type="hidden" value=""/>
		<div class="wx-content">
			<form name='myForm' id="myForm" method="post">
				<input id="userId" name="userId" type="hidden" th:value="${userId}" />
				<input id="mobile"  name="mobile" type="hidden" th:value="${mobile}" />
				<input id="merchantNo" name="merchantNo" type="hidden" th:value="${merchantNo}" />
				<input id="prodCode" name="prodCode" type="hidden" value="9002000003" />
				<ul class="wx-formlist">
					<li class="">
						<div class="wkbox wx-navigate-right">
						<div class="tl cl9">开户银行</div>
						<div class="autoW tr cl3c wx-input-group">
							<span class="wx-form-text">请选择</span>
							<select id="bankName" class="wx-select">
								<option value="">请选择</option>								
							</select>
						</div>
						</div>
					</li>
					<li class="wkbox">
						<div class="tl cl9">银行卡号</div>
						<div class="autoW tr cl3c wx-input-group">
							<input id="bankNo" type="tel" placeholder="" maxlength="23" />
						</div>
					</li>
					<li class="wkbox">
						<div class="tl cl9">持卡人姓名</div>
						<div class="autoW tr cl3c wx-input-group">
							<input id="name" type="text" placeholder="" maxlength="30" />
						</div>
					</li>
					<li class="wkbox">
						<div class="tl cl9">身份证号码</div>
						<div class="autoW tr cl3c wx-input-group">
							<input id="cardNo" type="text" placeholder="" maxlength="18" />
						</div>
					</li>
					<li class="wkbox">
						<div class="tl cl9">开户行预留手机号码</div>
						<div class="autoW tr cl3c wx-input-group">
							<input id="phoneNo" type="tel" placeholder="" maxlength="11" />
						</div>
					</li>
					<li class="wkbox">
						<div class="tl cl9">手机验证码</div>
						<div class="autoW tr cl3">
							<div class="autoW tr cl3c wx-input-group">
								<input id="captcha" type="tel" placeholder="" maxlength="4" />
							</div>
						</div>
						<div class="tr cllan ml10 getSMS">立即获取</div>
					</li>
				</ul>
			</form>
		</div>	
		
		<div class="wx-tips-noAlert">
			<div style="width: 80px; height: 80px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);">
				<img style="width: 100%; opacity: .8;" src="images/loading.gif" />
			</div>
		</div>
		

	<script>		
		
		window.onload=function(){
   			$('.wx-tips-noAlert').hide(); 
   			$("#div2").hide();
   		};
   		
   		function submitAgain(){
			alert("您的信息已提交，请耐心等待");
			return false;
		}	
   		
   		var prodCode = "9002000003"; //二维火产品code 		
		$(function() {				
				//获取的银行卡列表				
				$.ajax({
					url : "ajaxGetBankList",
					type : "POST",
					async : false,
					data : {
						prodCode : prodCode
					},
					dataType : "json",
				 	success : function(data, textStatus) {
						if (data.isSuccess == "true") {
							var bankJson = data.response.supportBanks;
							$.each(bankJson,function(i,n){
							     $("#bankName").append("<option value="+i+">"+n+"</option>");
							 })
						}else {
							alert(data.errorMessage);
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						alert("服务器连接错误，请稍候重试");
					}
				});	
				
				//反显个人信息
				var userId = $('#userId').val().trim(); //注册userId
				$.ajax({
					url : "ajaxGetUserInfo",
					type : "POST",
					async : false,
					data : {
						userId : userId
					},
					dataType : "json",
				 	success : function(data, textStatus) {
						if (data.isSuccess == "true") {
							var user = data.response.user;
							if(user){
								var userName = user.userName;
								var idenNo = user.idenNo;
								if(userName){
									 $('#name').val(userName);
									 $('#name').attr("disabled",true);
								}
								if(idenNo){
									 $('#cardNo').val(idenNo);
									 $('#cardNo').attr("disabled",true);
								}
							}													
						}else {
							alert(data.errorMessage);
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						alert("服务器连接错误，请稍候重试");
					}
				});	
									 
				//发送短信验证码
				var phoneRegex = /^\-?[0-9]{11}$/;
				$('.getSMS').click(function() {
					if(phoneRegex.test($('#phoneNo').val())) {
						sendVerifyCode.sendMessage('ajaxSendVerifyCode', $('#userId').val(), $('#phoneNo').val(), "11");
					} else {
						alert("请输入正确的手机号")
					}
				})									
				
			})
								
		function submitForm() {
			var bankName = $("#bankName").find("option:selected").text();
			var bankCode = $("#bankName").val().trim();
			var userId = $('#userId').val().trim(); //注册userId
	   		var mobile = $('#mobile').val().trim(); //注册手机号
	   		var merchantNo = $('#merchantNo').val().trim(); //注册商户号  
			
				if($('#bankName').val().trim() == '') {
					alert('请选择开户银行');
					return false;
				}
				if($('#bankNo').val().trim() == '') {
					alert('请输入银行卡号');
					return false;
				}
				if($('#name').val().trim() == '') {
					alert('请输入持卡人姓名');
					return false;
				}
				var cardNoRegex = /(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
				if($('#cardNo').val().trim() == '' || !cardNoRegex.test($('#cardNo').val())) {
					alert('请输入正确的身份证号');
					return false;
				}
				if($('#phoneNo').val().trim() == '') {
					alert('请输入开户行预留手机号');
					return false;
				}
				if($('#captcha').val().trim() == '' || $('#captcha').val().trim().length != 4) {
					alert('请输入4位手机验证码');
					return false;
				}
				var checked = true;
				$('input[type="checkbox"]').each(function() {
					if(!$(this).is(':checked')) {
						alert('确认前请阅读并同意相关协议');
						checked = false;
					}
				})
				if(!checked) {
					return false;
				}
				//$('#myModal').show();
				$("#div1").hide();
				$("#div2").show();
				$('.wx-tips-noAlert').show();				
				console.log($("#verifycodeid").val());
				$.ajax({
					url : "ajaxCheckVerifyCode",
					type : "POST",
					data : {
						hpNo : $("#phoneNo").val().trim(),
						reqType : "11",
						verifyCodeId : $("#verifycodeid").val().trim(),
						verifyCode : $('#captcha').val().trim()
					},
					dataType : "json",
					success : function(data, textStatus) {
					 if (data.isSuccess=="true" ){	
						if (data.response.code == "W-Y000000") {
							$.ajax({
								url : "ajaxAddBankCard",
								type : "post",
								data : {
									userId : userId,
									bankIdenName : bankName,	
									bankIdenCode : bankCode,
									hpNo : $("#phoneNo").val().trim(),
									acctNo : $("#bankNo").val().trim(),
									certNo : $("#cardNo").val().trim(),
									acctName : $("#name").val().trim(),	
									mobile : mobile,
									verifyMode : "1"								
								},
								dataType : "json",
								success : function(data, textStatus) {
									if (data.isSuccess=="true" ){										
										if(data.response.code == "W-Y000000"){
											$('#myForm').attr("action", "bindCardSuccess").submit();
										}else{
											alert(data.response.message);					
										}										
									}else {
										alert(data.errorMessage);						
									}
									$('.wx-tips-noAlert').hide(); 
									$("#div1").show();
									$("#div2").hide();
								},
								error : function(XMLHttpRequest, textStatus,
										errorThrown) {
									alert("系统异常");
									$('.wx-tips-noAlert').hide(); 
									$("#div1").show();
									$("#div2").hide();
									return false;
								}
							});
						}else {
							alert(data.response.message);
							$("#div1").show();
							$("#div2").hide();
							$('.wx-tips-noAlert').hide(); 
							return false;
						}
					  }else{
						  alert(data.errorMessage);
						  $("#div1").show();
						  $("#div2").hide();
					      $('.wx-tips-noAlert').hide(); 
						  return false;						  
					  }
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						alert("服务器连接错误，请稍候重试");
						$("#div1").show();
						$("#div2").hide();
						$('.wx-tips-noAlert').hide(); 
					}
				});				
				
			}
		</script>
	</body>
</html>