<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, initial-scale=1" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta content="telephone=no" name="format-detection" />
		<title>申请提交</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link href="vendor/mui/css/mui.listpicker.css" rel="stylesheet" />
		<link href="vendor/mui/css/mui.poppicker.css" rel="stylesheet" />
	</head>
	<body>
		<div class="wx-content">
			<div class="p20 cl9 f14 pt20 mt20">
				申请提交成功，请等待审批。您将于6小时后收到人行征信发送的报告提取码。请届时点击下方按钮前往提取。
			</div>
			<div style="margin-top: 20px;" class="wx-btn wx-btnh" onclick="window.location=''">前往提取</div>
			<div class="p20 tc cllan f14" onclick="window.location=''">查看我的火融e账户</div>
		</div>
		<script src="vendor/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="js/wx.js"></script>
	</body>
</html>